<div class="row">
	<div class="small-4 column">
			<a href="{{ include.url }}">
				<img src="../images/images_for_pub/{{ include.img_path }}" style="width: 100%">
			</a>
	</div>
	<div class="small-8 column">
		<p>
			<b>{{ include.title }}</b>
			<br>
			{{ include.author_list }}
			<br> 
			{{ include.published_in }}
			<br>
			<a href="{{ include.url }}"> [PDF]</a>
			{% if include.code_url %}
			<a href="{{ include.code_url }}"> [Code]</a>
			{% endif %}
			{% if include.blog_post %}
			<a href="{{ include.blog_post }}"> [Blog Post]</a>
			{% endif %}
		</p>
	</div>
		
</div>

---
